<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename ='images/favicon.ico') }}"/>

    <title></title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename ='images/apple-icon.png') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename ='images/favicon.png') }}" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="{{ url_for('static', filename ='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename ='css/material-bootstrap-wizard.css') }}" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{{ url_for('static', filename ='css/dep-index.css') }}" rel="stylesheet" />

</head>

<body>

    <div class="image-container set-full-height" style="background-image: url('/static/images/blurred-leaves.jpg')">
        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="blue" id="wizardProfile">
                            <form action="/deployment/action_details" method="POST">
                                <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->

                                <div class="wizard-header">
                                    <h3 class="wizard-title">
                                        Edit required details
                                    </h3>
                                    <h5>This information will be used for the deployment</h5>
                                </div>
                                <div class="wizard-navigation">
                                    <ul>
                                        {% if edit_server %}
                                            <li><a href="#edit_server" data-toggle="tab">Edit Server List</a></li>
                                        {% endif %}
                                        {% if edit_task %}
                                            <li><a href="#edit_task" data-toggle="tab">Edit Tasks</a></li>
                                        {% endif %}
                                        {% if deploy_task %}
                                            <li><a href="#deployment" data-toggle="tab">Deployment details</a></li>
                                        {% endif %}

                                    </ul>
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane" id="edit_server">
                                        <div class="row">
                                            <h4 class="info-text"> Please let us know about your servers</h4>
                                            <textarea name="host_details"style="margin: 20px;margin-top: 0px;margin-bottom: 0px;width: 702px;height: 207px;/* border-top: 10px; */border-color: black;border-radius: 5px;box-shadow: 10px 10px 0px 0px #00000036;" aria-invalid="false" class="valid" spellcheck="false"></textarea>                                        </div>
                                    </div>
                                    <div class="tab-pane" id="edit_task">
                                        <div class="row">
                                            <h4 class="info-text"> what are you going to perform on each server?</h4>
                                            <textarea name="task_details" style="margin: 20px;margin-top: 0px;margin-bottom: 0px;width: 702px;height: 207px;/* border-top: 10px; */border-color: black;border-radius: 5px;box-shadow: 10px 10px 0px 0px #00000036;" aria-invalid="false" class="valid" spellcheck="false"></textarea>                                        </div>
                                    </div>
                                    <div class="tab-pane" id="deployment">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4 class="info-text"> Are you installing to a particular group of servers ? </h4>
                                            </div>
                                            <div class="col-sm-7 col-sm-offset-1">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Group Name ( Either server group name or dropdown option mandatory )</label>
                                                    <input type="text" name="group_name" class="form-control"/>
                                                </div>
                                            </div>
                                            <div class="col-sm-5 col-sm-offset-1">
                                                <div class="form-group label-floating">
                                                    <label class="control-label">Install on</label>
                                                    <select name="server" class="form-control">
														<option disabled="" selected=""></option>
	                                                	<option value="alpha_servers"> Alpha-Servers </option>
	                                                	<option value="production_servers"> Production-Servers </option>
	                                                	<option value="all"> All </option>
	                                            	</select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
                                        <button class='btn btn-finish btn-fill btn-success btn-wd'>
                                            Finish
                                        </button>

                                    </div>

                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- wizard container -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!--  big container -->

        <div class="footer">
            <div class="container text-center" style="color: #0000005e;">
                Made with <i class="fa fa-heart heart"></i> by Selvarajan Thanabal
            </div>
        </div>
    </div>

</body>
<!--   Core JS Files   -->
<script src="{{ url_for('static', filename ='js/jquery-2.2.4.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename ='js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename ='js/jquery.bootstrap.js') }}" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="{{ url_for('static', filename ='js/material-bootstrap-wizard.js') }}"></script>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="{{ url_for('static', filename ='js/jquery.validate.min.js') }}"></script>


</html>