<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename ='images/favicon.ico') }}"/>

    <title></title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename ='images/apple-icon.png') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename ='images/favicon.png') }}" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />

    <!-- CSS Files -->
    <link href="{{ url_for('static', filename ='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename ='css/material-bootstrap-wizard.css') }}" rel="stylesheet" />

    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="{{ url_for('static', filename ='css/dep-index.css') }}" rel="stylesheet" />

</head>

<body>

    <div class="image-container set-full-height" style="background-image: url('/static/images/blurred-leaves.jpg')">
        <!--   Big container   -->
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <!--      Wizard container        -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="blue" id="wizardProfile">
                            <form action="/deployment/submission" method="POST">
                                <!--        You can switch " data-color="purple" "  with one of the next bright colors: "green", "orange", "red", "blue"       -->

                                <div class="wizard-header">
                                    <h3 class="wizard-title">
                                        Build Your Profile
                                    </h3>
                                    <h5>This information will let us know more about you.</h5>
                                </div>
                                <div class="wizard-navigation">
                                    <ul>
                                        <li><a href="#about" data-toggle="tab">About</a></li>
                                        <li><a href="#action" data-toggle="tab">Action</a></li>
                                    </ul>
                                </div>

                                <div class="tab-content">
                                    <div class="tab-pane" id="about">
                                        <div class="row">
                                            <h4 class="info-text"> Please let us know about you</h4>
                                            <div class="col-sm-6 col-sm-offset-1">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
														<i class="material-icons">face</i>
													</span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">First Name <small>(required)</small></label>
                                                        <input name="firstname" type="text" class="form-control" value="{{ firstname }}">
                                                    </div>
                                                </div>

                                                <div class="input-group">
                                                    <span class="input-group-addon">
														<i class="material-icons">record_voice_over</i>
													</span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Last Name <small>(required)</small></label>
                                                        <input name="lastname" type="text" class="form-control">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-10 col-sm-offset-1">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
														<i class="material-icons">email</i>
													</span>
                                                    <div class="form-group label-floating">
                                                        <label class="control-label">Email <small>(required)</small></label>
                                                        <input name="email" type="email" class="form-control" value="{{ email }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="action">
		                                <h4 class="info-text"> What are you doing? (checkboxes) </h4>
		                                <div class="row">
		                                    <div class="col-sm-10 col-sm-offset-1">
		                                        <div class="col-sm-4">
		                                            <div class="choice" data-toggle="wizard-checkbox" rel="tooltip" title="Edit your servers list here">
		                                                <input type="checkbox" name="edit_server" value="True">
		                                                <div class="icon">
		                                                    <i class="fa fa-pencil"></i>
		                                                </div>
		                                                <h6>Edit-servers-list</h6>
		                                            </div>
		                                        </div>
		                                        <div class="col-sm-4">
		                                            <div class="choice" data-toggle="wizard-checkbox" rel="tooltip" title="Tasks to be performed [Can be a set of commands which will be executed as a task on each servers parallely]">
		                                                <input type="checkbox" name="edit_task" value="True" id="maintenance"/>
		                                                <div class="icon">
		                                                    <i class="fa fa-terminal"></i>
		                                                </div>
		                                                <h6>Tasks-for-Servers</h6>
		                                            </div>
		                                        </div>
		                                        <div class="col-sm-4">
		                                            <div class="choice" data-toggle="wizard-checkbox" rel="tooltip" title="Deploys specified tasks on all the servers">
		                                                <input type="checkbox" name="deploy_task" value="True">
		                                                <div class="icon">
		                                                    <i class="fa fa-laptop"></i>
		                                                </div>
		                                                <h6>Deploy-Tasks</h6>
		                                            </div>
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">
                                        <input type='button' class='btn btn-next btn-fill btn-success btn-wd' name='next' value='Next' />
                                        <button class='btn btn-finish btn-fill btn-success btn-wd'>
                                            Finish
                                        </button>

                                    </div>

                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- wizard container -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!--  big container -->

        <div class="footer">
            <div class="container text-center" style="color: #0000005e;">
                Made with <i class="fa fa-heart heart"></i> by Selvarajan Thanabal
            </div>
        </div>
    </div>

</body>
<!--   Core JS Files   -->
<script src="{{ url_for('static', filename ='js/jquery-2.2.4.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename ='js/bootstrap.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename ='js/jquery.bootstrap.js') }}" type="text/javascript"></script>

<!--  Plugin for the Wizard -->
<script src="{{ url_for('static', filename ='js/material-bootstrap-wizard.js') }}"></script>

<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
<script src="{{ url_for('static', filename ='js/jquery.validate.min.js') }}"></script>


</html>