<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    <!--<link rel="stylesheet" type="text/css" href="../../static/css/table.css">&ndash;&gt;-->
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename ='css/table.css') }}">-->
    <!--<link rel="stylesheet" type="text/css" href="../../static/css/table.css">-->

</head>
<body>

    <div style="
        margin: auto;
        margin-top: 10%;
        width: 60%;
        height: 450px;
        border: 3px solid #73AD21;
        padding: 10px;
        overflow: scroll;"
    >
        <table id="ourdata" class="display" width="100%"></table>
    </div>


    <script>


$(document).ready(function() {
    $('#ourdata').DataTable( {
        processing: true,
        ajax: "/get_data",
        columns: [
            { title: "Name" },
            { title: "Role" },
            { title: "Location" },
            { title: "contact" },
            { title: "Availability" },
            { title: "Works I can do" }
        ]
    } );
} );
</script>
</body>
</html>